# PostgreSQL
DB_PASSWORD=123456789
DB_USER=esport
DB_URL=jdbc:postgresql://postgres:5432/esport

# JWT
JWT_SECRET=change_me_256bit_random_string_here
JWT_ISSUER=ktor_server
JWT_AUDIENCE=ktor_audience

# RabbitMQ
RABBITMQ_PASSWORD=123456789

# SMTP (Yandex)
SMTP_USER=rodionov.mikhail.a@yandex.ru
SMTP_PASSWORD=zbketatgxwmryfvh

# GitHub Container Registry (for production)
# GITHUB_REPOSITORY=owner/repo
